/*
Created by: themecrackers
URL: http://themecrackers.com/

[TABLE OF CONTENTS]

1.  IMPORTS
2.  RESET STYLES
3.  HEADER STYLES
    3.1 HEADER LEFT
    3.2 HEADER RIGHT
4.  MAIN WRAPPER STYLES
    4.1 LEFT PANEL STYLES
        4.1.1 LEFT PANEL NAVIGATION
    4.2 MAIN PANEL STYLES
        4.2.1 CONTENT PANEL STYLES
5.  MESSAGES STYLES
6.  UI ELEMENTS STYLES
    6.1 BUTTONS PAGE STYLES
    6.2 EXTRAS STYLES
    6.3 GRAPHS STYLES
    6.4 ICON STYLES
    6.5 PANELS & WIDGET STYLES
    6.6 TABS & ACCORDION STYLES
7.  FORM STYLES
    7.1 FORM WIZARD STYLES
8.  TABLE STYLES
9.  PAGES STYLES
    9.1 NOT FOUND PAGE STYLES
    9.2 INVOICE STYLES
    9.3 MEDIA MANAGER STYLES
    9.4 PEOPLE DIRECTORY STYLES
    9.5 PROFILE STYLES
    9.6 SEARCH RESULTS STYLES
    9.7 SIGN IN/UP PAGE STYLES
    9.8 LOCKED SCREEN STYLES
10. DASHBOARD STYLES
11. LEFT MENU COLLAPSE STYLES
12. CUSTOM STYLES
13. MEDIA QUERIES

*/


/********** 1. IMPORTS **********/
/********************************/


/********** 2. RESET STYLES **********/
/*************************************/

body {
    font-size: 13px;
    color: #636E7B;
    background-color: #fff;
}

a {
    outline: none !important;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}



/********** 3. HEADER STYLES **********/
/**************************************/

.headerwrapper {
    background-color: #1FB5AD;
    min-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.headerwrapper:after {
    clear: both;
    display: block;
    content: '';
}


/***** 3.1 HEADER LEFT *****/

.headerwrapper .header-left {
    width: 230px;
    min-height: 60px;
    padding: 14px 15px;
    float: left;
    border-right: 1px solid rgba(255,255,255,0.14);
    background-color: rgba(0,0,0,0.03);
    position: relative;
}

.headerwrapper .header-left .logo {
    display: inline-block;
    margin-top: 5px;
    float: left;
}

.headerwrapper .header-left .menu-collapse {
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border: 1px solid rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.8);
    padding: 6px 9px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    position: absolute;
    top: 13px;
    right: 15px;
}

.headerwrapper .header-left .menu-collapse:hover {
    border-color: #fff;
    color: #fff;
}

.headerwrapper .header-center {
    margin:0px 400px;
    min-height: 60px;
    padding: 14px 15px;
    float: left;
}


/***** 3.2 HEADER RIGHT *****/

.avatar-img {
	width:30px;
	margin:-5px 0 0 -10px;
}

.headerwrapper .header-right {
    margin-left: 230px;
    min-height: 60px;
    padding: 14px 15px;
    float: right;
}

.headerwrapper .header-right .btn-group {
    margin: 0;
    line-height: 21px;
    float: left;
}

.headerwrapper .header-right .btn-group > .btn {
    border: 0;
    background-color: rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.75);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    line-height: normal;
    margin-left: 5px;
    height: 33px;
}

.headerwrapper .header-right .btn-group > .btn:hover {
    background-color: rgba(0,0,0,0.2);
}

.headerwrapper .header-right .btn-group > .btn:focus,
.headerwrapper .header-right .btn-group > .btn:active {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.headerwrapper .header-right .btn-group .btn .badge {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    color: #000;
    margin-left: 2px;
    padding: 2px 6px;
}

.btn-group-notification > .btn {
    padding: 7px 10px;
}

.btn-group-messages > .btn {
    padding: 6px 9px 8px 9px;
}

.btn-group-option > .btn {
    padding: 7px 12px;
}

.headerwrapper .header-right .btn-group .dropdown-menu {
    -moz-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    box-shadow: 3px 3px 2px rgba(0,0,0,0.05);
    margin-top: 13px;
    border-top: 0;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border-color: #ccc;
}

.headerwrapper .header-right .btn-group .dropdown-menu:after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid rgba(0,0,0,0);
    border-right: 6px solid rgba(0,0,0,0);
    content: '';
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 10px;
}

.headerwrapper .header-right .btn-group .dropdown-menu li {
    position: relative;
}

.headerwrapper .header-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 8px 15px;
    color: #555;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.headerwrapper .header-right .btn-group .dropdown-menu li a:hover {
    color: #333;
    background-color: #E4E7EA;
}

.headerwrapper .header-right .btn-group .dropdown-menu .divider {
    margin: 5px 0;
}

.headerwrapper .header-right .btn-group-option .dropdown-menu li .glyphicon,
.headerwrapper .header-right .btn-group-option .dropdown-menu li .fa {
    margin-right: 10px;
}

.headerwrapper .header-right .btn-group-option .dropdown-menu {
    min-width: 180px;
    margin-top: 13px;
}

.headerwrapper .header-right .form-search {
    float: left;
    margin-right: 10px;
    margin-top: 0;
    position: relative;
}

.headerwrapper .header-right .form-search:before {
    position: absolute;
    top: 6px;
    left: 10px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    color: #666;
}

.headerwrapper .header-right .form-search .form-control {
    border: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 200px;
    padding-left: 30px;
    height: 32px;
    font-size: 13px;
}

.headerwrapper .header-right .btn-group-list .dropdown-menu {
    padding: 0;
    min-width: 380px;
}

.headerwrapper .header-right .btn-group-list .dropdown-menu:after {
    border-bottom-color: #E4E7EA;
}

.headerwrapper .header-right div.dropdown-menu h5 {
    padding: 13px 0;
    text-align: center;
    background-color: #E4E7EA;
    margin: 0;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
}

.headerwrapper .header-right .dropdown-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
}

.headerwrapper .header-right .link-right {
    color: #636E7B;
    position: absolute;
    top: 10px;
    right: 15px;
}

.dropdown-list {
    margin: 0;
}

.dropdown-list li {
    border: 0;
    border-top: 1px solid #eee;
    padding: 10px 20px 10px 10px;
    margin: 0;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #fcfcfc;
}

.dropdown-list li:first-child {
    border-top: 0;
}

.dropdown-list li .noti-thumb {
    width: 40px;
}

.dropdown-list .media-body {
    font-size: 13px;
    line-height: 18px;
}

.dropdown-list .media-body strong {
    font-weight: 500;
    color: #2f363d;
}

.dropdown-list .media-body p {
    margin: 0;
}

.dropdown-list .media-body .date {
    display: block;
    margin-top: 2px;
    line-height: normal;
    color: #999;
}

.dropdown-list .media-body .date i {
    margin-right: 2px;
    margin-top: -3px;
    vertical-align: middle;
}

.dropdown-list .badge {
    float: right;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: normal;
    font-size: 11px;
    padding: 5px 8px;
}



/********* 4. MAIN WRAPPER STYLES *********/
/******************************************/

.mainwrapper {
    position: relative;
    top: 60px;
}

.mainwrapper:before {
    content: '';
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    border-right: 1px solid #e7e7e7;
}

.mainwrapper:after {
    clear: both;
    display: block;
    content: '';
}

.img-online {
    border: 2px solid #5cb85c;
    padding: 2px;
    background-color: #fff;
}

.img-offline {
    border: 2px solid #ccc;
    padding: 2px;
    background-color: #fff;
}



/***** 4.1 LEFT PANEL STYLES *****/

.leftpanel {
    width: 230px;
    position: absolute;
    top: 0;
    left: 0;
}

.leftpanel .profile-left {
    padding: 15px;
    min-height: 90px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    margin-right: 1px;
}

.leftpanel .profile-left .profile-thumb {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #1FB5AD;
    padding: 2px;
}

.leftpanel .profile-left .profile-thumb img {
    width: 50px;
}

.leftpanel .profile-left .media-heading {
    line-height: 18px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
}

.leftpanel .profile-left small {
    line-height: 18px;
}

.leftpanel .leftpanel-title {
    text-transform: uppercase;
    color: #ccc;
    font-size: 11px;
    font-weight: normal;
    margin: 15px 15px;
}


/***** 4.1.1 LEFT PANEL NAVIGATION *****/

.leftpanel .nav {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

.leftpanel .nav > li {
    margin: 0 1px 0 0;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #e7e7e7;
    position: relative;
}

.leftpanel .nav > li.active {
    border-top: 0;
    margin-right: 0;
}

.leftpanel .nav > li.active + li {
    border-top: 0;
}

.leftpanel .nav > li > a {
    color: #555;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    padding: 12px 15px;
}

.leftpanel .nav > li > a:hover,
.leftpanel .nav > li > a:focus,
.leftpanel .nav > li > a:active {
    background-color: #f7f7f7;
}

.leftpanel .nav > li.active > a,
.leftpanel .nav > li.active > a:hover {
    color: #fff;
    background-color: #1FB5AD;
}

.leftpanel .nav > li > a i {
    width: 16px;
    margin-right: 5px;
    color: #1FB5AD;
    font-size: 15px;
    top: 1px;
    position: relative;
    text-align: center;
}

.leftpanel .nav > li.active > a i {
    color: #fff;
}

.leftpanel .nav > li.parent:after {
    font-family: 'FontAwesome';
    content: '\f107';
    display: block;
    position: absolute;
    top: 12px;
    right: 22px;
    color: #ccc;
}

.leftpanel .nav > li.parent-focus > a {
    background-color: #f7f7f7;
}

.leftpanel .nav .badge {
    font-weight: normal;
    line-height: normal;
    font-size: 11px;
    background-color: #2f363d;
}

.leftpanel .nav .children {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.leftpanel .nav .active .children,
.leftpanel .nav .parent-focus .children {
    display: block;
}

.leftpanel .nav > li.active:after {
    color: #fff;
}

.leftpanel .nav .children li:first-child {
    border-top: 1px solid #e7e7e7;
}

.leftpanel .nav .children li.active:first-child {
    border-top: 0;
}

.leftpanel .nav .children li a {
    font-weight: normal;
    font-size: 13px;
    display: block;
    color: #444;
    padding: 6px 10px 6px 40px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.leftpanel .nav .children li a:hover {
    text-decoration: none;
    background-color: #f7f7f7;
}

.leftpanel .nav .children li.active a {
    background-color: #e4e7ea;
}

.leftpanel .nav .active .children {
    border-bottom: 1px solid #e7e7e7;
}

.leftpanel .nav .active .children {
    margin-right: 1px;
}

/***** 4.2 MAIN PANEL STYLES *****/

.mainpanel {
    margin-left: 230px;
}

.pageheader {
    padding: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    height: 90px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
}

.pageheader .media {
    padding: 0;
    clear: both;
}

.pageheader .pageicon {
    width: 50px;
    height: 50px;
    background-color: #4e5154;
    display: inline-block;
    color: #fff;
    font-size: 32px;
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 10px;
}

.pageheader .pageicon .fa-envelope-o {
    font-size: 31px;
}

.pageheader .pageicon .fa-bar-chart-o {
    font-size: 28px;
}

.pageheader .pageicon .fa-flag {
    font-size: 30px;
}

.pageheader .pageicon .fa-laptop {
    font-size: 28px;
}

.pageheader .pageicon .fa-navicon {
    font-size: 28px;
    margin-left: 3px;
}

.pageheader .pageicon .fa-code {
    font-size: 28px;
}

.pageheader .pageicon .fa-pencil {
    margin-left: 3px;
}

.pageheader .pageicon .fa-th-list {
    font-size: 28px;
    margin-left: 1px;
}

.pageheader .pageicon .fa-map-marker {
    margin-left: 5px;
}

.pageheader .pageicon .fa-calendar {
    font-size: 32px;
}

.pageheader .pageicon .fa-user {
    font-size: 28px;
    margin-left: 4px;
}

.pageheader .breadcrumb {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 11px;
    color: #999;
    line-height: 18px;
}

.pageheader .breadcrumb li a {
    color: #333;
}

.pageheader .breadcrumb li a:hover,
.pageheader .breadcrumb li a:active,
.pagehaeder .breadcrumb li a:focus {
    color: #1FB5AD;
}

.pageheader .breadcrumb li a i {
    color: #999;
    font-size: 10px;
}

.pageheader h4 {
    margin: -2px 0 0 0;
    font-size: 28px;
    font-weight: 500;
    color: #2f363d;
    line-height: normal;
}



/***** 4.2.1 CONTENT PANEL STYLES *****/

.contentpanel {
    position: relative;
    padding: 20px;
}

.bg-light {
    background-color: #ccc;
}

/********* 10. DASHBOARD STYLES **********/
/*****************************************/

.flotLegend {
    margin-bottom: 10px; 
}
.flotLegend table tr td {
    padding-right: 5px;
}

.row-stat .panel .panel-heading {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.panel-icon {
    background: rgba(255,255,255,0.9);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
}

.panel-icon .fa {
    color: #000;
    font-size: 36px;
    padding: 12px 0 0 19px;
}

.panel-bluegreen .panel-icon .fa {
    color: #03c3c4;
}

.panel-violet .panel-icon .fa {
    color: #905dd1;
}

.panel-blue .panel-icon .fa {
    color: #1FB5AD;
}

.row-stat .md-title {
    opacity: 0.6;
    font-size: 12px;
    margin-bottom: 5px;
}

.row-stat h1 {
    margin-bottom: 0;
}

.row-stat hr {
    opacity: 0.3;
    margin: 15px 0 0 0;
    border-width: 2px;
}

.panel-icon .fa-money, .panel-icon .fa-shopping-cart {
    padding: 12px 0 0 10px;
}

.panel-icon .fa-user, .panel-icon .fa-globe {
    padding: 12px 0 0 15px;
}

.panel-icon .fa-envelope {
    padding: 12px 0 0 12px;
}

.sublabel {
    font-size: 11px;
    display: block;
    margin-bottom: 3px;
}

.flotChart {
    width: 100%;
    height: 200px;
}

#bar-chart {
    height: 250px;
}



/********** 11. LEFT MENU COLLAPSE **********/
/********************************************/

.headerwrapper.collapsed .header-left {
    position: relative;
    left: -168px;
}

.headerwrapper.collapsed .header-right {
    margin-left: 61px;
}

.mainwrapper.collapsed:before {
    width: 61px;
}

.mainwrapper.collapsed .mainpanel {
    margin-left: 61px;
}

.mainwrapper.collapsed .leftpanel {
    width: 61px;
}

.mainwrapper.collapsed .leftpanel-title {
    display: none;
}

.mainwrapper.collapsed .profile-left {
    /*min-height: 0;*/
    padding-left: 10px;
}

.mainwrapper.collapsed .profile-left .profile-thumb {
    margin: 12px 0 0 0;
}

.mainwrapper.collapsed .profile-left .profile-thumb img {
    width: 30px;
}

.mainwrapper.collapsed .profile-left .media-body {
    display: none;
}

.mainwrapper.collapsed .nav {
    margin-top: 20px;    
}

.mainwrapper.collapsed .nav > li > a {
    padding-left: 20px;
    height: 44px;
}

.mainwrapper.collapsed .nav > li.nav-hover:not(.active) > a {
    background-color: #f7f7f7;
}

.mainwrapper.collapsed .nav > li > a > span:not(.badge) {
    position: absolute;
    width: 190px;
    z-index: 100;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    borer-bottom: 0;
    display: block;
    top: -1px;
    left: 60px;
    padding: 12px 10px 0 10px;
    border-left: 0;
    height: 46px;
    display: none;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.mainwrapper.collapsed .nav > li.parent > a > span:not(.badge) {
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.mainwrapper.collapsed .nav > li > a > span.badge {
    position: absolute;
    top: 12px;
    right: -170px;
    z-index: 200;
    display: none;
}

.mainwrapper.collapsed .nav > li.active > a > span:not(.badge) {
    background-color: #1FB5AD;
    border: 0;
    height: 44px;
    top: 0;
}

.mainwrapper.collapsed .nav > li.parent:after {
    display: none;
}

.mainwrapper.collapsed .nav > li.nav-hover > a > span {
    display: block;
}

.mainwrapper.collapsed .nav > li.nav-hover > .children {
    display: block !important;
}

.mainwrapper.collapsed .nav > li.parent .children {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    left: 61px;
    width: 189px;
    border: 1px solid #e7e7e7;
    border-top: 0;
    border-left: 0;
    display: none;
}

.mainwrapper.collapsed .nav > li.parent .children > li > a {
    padding-left: 10px;
}

/***** 4.2 MAIN PANEL STYLES *****/

.mainpanel {
    margin-left: 230px;
}

.pageheader {
    padding: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    height: 90px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
}

.pageheader .media {
    padding: 0;
    clear: both;
}

.pageheader .pageicon {
    width: 50px;
    height: 50px;
    background-color: #4e5154;
    display: inline-block;
    color: #fff;
    font-size: 32px;
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 10px;
}

.pageheader .pageicon .fa-envelope-o {
    font-size: 31px;
}

.pageheader .pageicon .fa-bar-chart-o {
    font-size: 28px;
}

.pageheader .pageicon .fa-flag {
    font-size: 30px;
}

.pageheader .pageicon .fa-laptop {
    font-size: 28px;
}

.pageheader .pageicon .fa-navicon {
    font-size: 28px;
    margin-left: 3px;
}

.pageheader .pageicon .fa-code {
    font-size: 28px;
}

.pageheader .pageicon .fa-pencil {
    margin-left: 3px;
}

.pageheader .pageicon .fa-th-list {
    font-size: 28px;
    margin-left: 1px;
}

.pageheader .pageicon .fa-map-marker {
    margin-left: 5px;
}

.pageheader .pageicon .fa-calendar {
    font-size: 32px;
}

.pageheader .pageicon .fa-user {
    font-size: 28px;
    margin-left: 4px;
}

.pageheader .breadcrumb {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 11px;
    color: #999;
    line-height: 18px;
}

.pageheader .breadcrumb li a {
    color: #333;
}

.pageheader .breadcrumb li a:hover,
.pageheader .breadcrumb li a:active,
.pagehaeder .breadcrumb li a:focus {
    color: #1FB5AD;
}

.pageheader .breadcrumb li a i {
    color: #999;
    font-size: 10px;
}

.pageheader h4 {
    margin: -2px 0 0 0;
    font-size: 28px;
    font-weight: 500;
    color: #2f363d;
    line-height: normal;
}


/*************ÌØÊâÑùÊ½***************/
.jqstooltip {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	background: rgb(0, 0, 0) transparent;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#99000000, endColorstr = #99000000 );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
		;
	color: white;
	font: 10px arial, san serif;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
	border: 1px solid white;
	z-index: 10000;
}
.jqsfield {
	color: white;
	font: 10px arial, san serif;
	text-align: left;
}
.media > .pull-left{
	margin-right: 10px;
}
.media-heading {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}



.main-nav {
height: 14px;
padding-left: 34px;
padding-top: 8px;
float: left;
background: url("") 10px 0 no-repeat;
}
.clearfix {
zoom: 1;
}